:root {
  --bg: #171328;
  --primary: #A48DFA;
  --secondary: #87B8F8;
  --text: #F7F5FD;
  --font-title: "Exo 2", sans-serif;
  --gradiant: linear-gradient(45deg, var(--primary), var(--secondary));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1, h2, h3 {
  font-family: var(--font-title);
  background: var(--gradiant);
  color: transparent;
  background-clip: text;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h3 {
  font-size: 24px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 14px 35px;
  background: var(--gradiant);
  color: var(--bg);
  font-weight: 600;
  border: 2px solid var(--secondary);
  border-radius: 15px;
  transition: ease-out 300ms;
  width: fit-content;
}

.btn:hover {
  background-clip: text;
  color: transparent;
  border: 2px solid var(--secondary);
  transition: ease-out 300ms;
}

section {
  margin: 75px 70px;
  position: relative;
}

.center-container {
  display: flex;
  flex-direction: column;
}

.para {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  max-width: 700px;
  margin-top: 20px;
  line-height: 24px;
}

.hero {
  margin: 0 70px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
}

.logo-nav {
  width: 40px;
  margin: 14px 0 0 72px;
  /* position: absolute; */
  z-index: 15;
}


/* =================== Cards =================== */

.card-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
  gap: 20px;
}

.cards {

  padding: 20px 15px;
  background: linear-gradient(45deg, #A48DFA25,  #87b8f825);
  border-radius: 15px;
  box-shadow: 2px 4px 5px #87b8f83c;
  width: 325px;
  transition: ease-out 300ms;
  border: 1px solid #87b8f811;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
  }
}

.cards::after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #ffffff05;
  top: -69%;
  left: 50%;
  transform: rotate(45deg);
  transition: ease-out 200ms;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 15px #87b8f82c;
}

.cards:hover::after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #ffffff05;
  top: -36%;
  left: 50%;
  transform: rotate(45deg);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.source {
  font-size: small;
}


/* ===================== FOOTER ====================== */

.bottom-foot {
  background: linear-gradient(45deg, #A48DFA25,  #87b8f825);
  border-radius: 15px 15px 0 0;
  padding: 10px;
  /* margin: 0 -75px; */
  text-align: center;
  /* box-shadow: 0 4px 15px #87b8f85e; */

  p {
    font-size: small;
  }
}