:root {
  --bg: blue;
  --secondary: aqua;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {

}

header {
  background-color: aquamarine;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    li {
      padding: 10px 25px;
    }
  }
}

#hero-title {
  height: 100vh;
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 0 0 0 150px;
  }
}