:root {
  --bg: #180a3f;
  --primary: #2d5678;
  --text: #e4eef7;
  --font-title: "Exo 2", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
/* header {
  background: radial-gradient(circle at top left, var(--primary) 0%, var(--bg) 45%);
} */

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
  position: absolute;
  z-index: 10;
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    li {
      padding: 10px 25px;
    }
  }
}

/* HERO TITLE */
#hero-title {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  div {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 0 0 0 150px;
  }
}


/* A PROPOS */
/* #apropos {
  background: radial-gradient(circle at bottom right, var(--primary) -15%, var(--bg) 30%);
  height: 70vh;
}

#projet {
  background: radial-gradient(circle at top right, var(--primary) -15%, var(--bg) 30%); 
} */

.center-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

section {
  margin: 75px 70px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

input {
  /* height: 50px; */
  padding: 15px 8px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  padding: 15px 8px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#contact {
  .center-container {
    flex-direction: row;

    p {
      width: 100%;
    }
  }
}