:root {
  --bg: #171328;
  --primary: #A48DFA;
  --secondary: #87B8F8;
  --text: #F7F5FD;
  --font-title: "Exo 2", sans-serif;
  --gradiant: linear-gradient(45deg, var(--primary), var(--secondary));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}


/* ========================== PB HERE ======================= */
.btn {
  padding: 14px 35px;
  background: var(--gradiant);
  width: fit-content;
  color: var(--bg);
  font-weight: 600;
  border: 2px solid var(--secondary);
  border-radius: 15px;
  transition: ease-out 300ms;
}


.btn:hover {
  background-clip: text;
  color: transparent;
  border: 2px solid var(--secondary);
  transition: ease-out 300ms;
}


h2 {
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
  width: fit-content;
}

.btn-more {
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
  width: fit-content;
}


/* NAVBAR */
nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 75px;
  position: absolute;
  z-index: 10;
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    li {
      padding: 10px 25px;
    }

    li a {
      position: relative;
    }

    li a::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--text);
    transition: 0.5s ease-out;
    }
    li a:hover::after {
        width: 100%;
    }
  }
}

/* HERO TITLE */
#hero-title {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;
    color: var(--primary);

    span {
      color: var(--secondary);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 0 0 0 150px;
    gap: 40px;

    p {
      line-height: 28px;
      font-size: 25px;
    }
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.side {
  display: flex;
}


/* ================= PROJET =================== */

.project-cards {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  padding: 50px 0;
  border-top: 1px solid var(--secondary);
}

.card-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-cards:last-child {
  border-bottom: 1px solid var(--secondary);
}

.project-cards {

  h3 {
    color: var(--primary);
  }
}

/* .project-cards:nth-child(2) {

  h3 {
    color: var(--secondary);
    aligner a gauche
  }
} */

/* ================= CONTACT =================== */

section {
  margin: 75px 70px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

input {
  /* height: 50px; */
  padding: 15px 8px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  padding: 15px 8px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#contact {
  .center-container {
    flex-direction: row;

    p {
      width: 100%;
    }
  }
}