:root {
  --bg: #171328;
  --primary: #A48DFA;
  --secondary: #87B8F8;
  --text: #F7F5FD;
  --font-title: "Exo 2", sans-serif;
  --gradiant: linear-gradient(45deg, var(--primary), var(--secondary));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}


/* ========================== PB HERE ======================= */
.btn {
  padding: 14px 35px;
  background: var(--gradiant);
  width: fit-content;
  color: var(--bg);
  font-weight: 600;
  border: 2px solid var(--secondary);
  border-radius: 15px;
  transition: ease-out 300ms;
}


.btn:hover {
  background-clip: text;
  color: transparent;
  border: 2px solid var(--secondary);
  transition: ease-out 300ms;
}


h2 {
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

section {
  margin: 75px 70px;
}

.btn-more {
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
  width: fit-content;
  position: relative;
  font-size: 18px;
}

/* .btn-more::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--secondary);
  transition: 0.5s ease-out;
}
.btn-more:hover::after {
  width: 100%;
} */

.space {
  padding: 30px 0;
}


/* NAVBAR */
nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 75px;
  position: absolute;
  z-index: 10;
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    li {
      padding: 10px 25px;
    }

    li a {
      position: relative;
    }

    li a::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--text);
    transition: 0.5s ease-out;
    }
    li a:hover::after {
        width: 100%;
    }
  }
}

/* HERO TITLE */
#hero-title {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;
    color: var(--primary);

    span {
      color: var(--secondary);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 0 0 0 150px;
    gap: 40px;

    p {
      line-height: 28px;
      font-size: 25px;
    }
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.side {
  display: flex;
}


/* ================== A PROPOS ===================== */

.blue-background {
  background: linear-gradient(45deg, #A48DFA25,  #87b8f825);
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #87b8f85e;
}


/* ================= PROJET =================== */

.project-cards {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.cards {
  display: flex;
  padding: 50px;
  border-top: 1px solid var(--secondary);
  gap: 35px;

  img {
    width: 345px;
    height: 250px;
    object-fit: cover;
    position: relative;
  }
}

.style {
  width: 349px;
  height: 254px;
  position: relative;
}
.style::after {
  position: absolute;
  left: -4px;
  top: -4px;
  content: "";
  width: 349px;
  height: 254px;
  background-color: var(--secondary);
  z-index: -1;
  box-shadow: 4px 4px 5px #87b8f886;
}

.card-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    line-height: 28px;
  }
}

.project-cards:last-child {
  border-bottom: 1px solid var(--secondary);
}

.project-cards {

  h3 {
    color: var(--primary);
  }
}

.cards:nth-child(even) {
  flex-direction: row-reverse;

  h3 {
    color: var(--secondary);
  }
}

#projet {
  
  .btn {
    background-clip: text;
    color: transparent;
  }

  .btn:hover {
    background: var(--gradiant);
    color: var(--bg);
  }
}

.project-center {
  display: flex;
  justify-content: center;
}


/* ================= CONTACT =================== */

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.space-top {
  margin: 30px 0;
}

input {
  /* height: 50px; */
  padding: 15px 8px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
}

textarea {
  resize: vertical;
  padding: 15px 8px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  border: none;
  height: 100px;
}

button {
  padding: 14px 35px;
  width: fit-content;
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
  font-weight: 600;
  border: 2px solid var(--secondary);
  border-radius: 15px;
  transition: ease-out 300ms;
  font-size: 16px;
}

button:hover {
  background: var(--gradiant);
  color: var(--bg);
  cursor: pointer;
}



#contact {
  .center-container {
    flex-direction: row;
    gap: 50px;
  }
}

.contact-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 100px;
}

.reseau {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.fa-brands, .fa-regular {
  padding: 15px;
  border: 2px solid var(--secondary);
  position: relative;
  text-align: center;
  border-radius: 50px;
  /* color: var(--secondary); */
  background: var(--gradiant);
  color: transparent;
  background-clip: text;
  transition: ease-out 300ms;
}

.fa-linkedin {
  width: 75px;
}

.fa-brands:hover, .fa-regular:hover {
  background: var(--gradiant);
  color: var(--bg);
}

form label:first-child {
  color: var(--primary);
}

form label {
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  background-clip: text;
  color: transparent;
}

form label:last-of-type {
  color: var(--secondary);
}


/* ===================== FOOTER ====================== */

.foot {
  display: flex;
  flex-direction: column;
  margin: 0 75px;
}

.top-foot {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;

  p {
    color: var(--primary);
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 600;
  }

  span {
    color: var(--secondary);
  }

  ul {
    list-style: none;
    line-height: 2;
    text-align: right;

    li a {
      position: relative;
    }

    li a::after {
      position: absolute;
      right: 0;
      bottom: -3px;
      content: "";
      height: 2px;
      width: 0%;
      background-color: var(--text);
      transition: 0.5s ease-out;
    }
    li a:hover::after {
        width: 100%;
    }
  }
}

.bottom-foot {
  background: linear-gradient(45deg, #A48DFA25,  #87b8f825);
  border-radius: 15px 15px 0 0;
  padding: 10px;
  margin: 0 -75px;
  text-align: center;
  /* box-shadow: 0 4px 15px #87b8f85e; */

  p {
    font-size: small;
  }
}