@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
a {
    text-decoration: 0;
}
/*==================== menu ========================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10%;
}
header .left-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.left-menu .logo {
    font-style: italic;
    cursor: pointer;
    font-size: 30px;
}
.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu ul li {
    margin: 0 15px;
    list-style: none;
}
.header-menu ul li a {
    color: #888;
}
.header-menu ul li a:hover {
    color: #ee6e2d;
}
li .menu-active {
    color: #ee6e2d;
}
header .right-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.right-menu span {
    margin-right: 15px;
    color: #ee6e2d;
}
.btn {
    padding: 8px 30px;
    background-color: #ee6e2d;
    color: #fff;
    border: 1px solid #ee6e2d;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background-color: #fff;
    border: 1px solid #ee6e2d;
    color: #ee6e2d;
}
.sidebar, #main {
    display: none;
}

/*============== home ===============*/
.home {
    margin: 50px 10%;
}
.home-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-left {
    width: 50%;
    margin-right: 20px;
}
.home-left h1 {
    font-size: 65px;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.home-left p {
    color: #888;
    line-height: 25px;
    margin-bottom: 25px;
}
.home-left .home-btn {
    font-size: 15px;
    margin-bottom: 25px;
}
.home-right {
    width: 47%;
}
.home-right img {
    width: 100%;
}
.home-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px 8%;
}
.home-down .home-block {
    text-align: center;
}
.home-block .home-numb {
    font-size: 22px;
    font-weight: bold;
    color: #ee6e2d;
}
.home-block p {
    color: #888;
    margin-top: 8px;
}

/*================ about ==================*/
.about {
    margin: 75px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-left {
    width: 55%;
    margin-right: 20px;
}
.about-left img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.about-right {
    width: 40%;
}
.about-right h1 {
    font-size: 65px;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.about-right h3 {
    font-size: 25px;
    margin-bottom: 25px;
}
.about-right p {
    color: #888;
    line-height: 25px;
    margin-bottom: 25px;
}

/*============= why us ==============*/
.us {
    margin: 50px 10%;
}
.us h1 {
    font-size: 50px;
}
.us-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.us-align .us-block {
    margin: 50px 15px;
    background-color: rgb(255, 250, 243);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 40px 20px;
    text-align: center;
}
.us-block img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
.us-block h4 {
    font-size: 22px;
    color: #ee6e2d;
    margin-bottom: 15px;
}
.us-block p {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

/*================== list =====================*/
.list {
    margin: 50px 10%;
}
.list h1 {
    font-size: 50px;
    margin-bottom: 40px;
}
.list-align {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 32px;
}
.list-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    
}
.list-block img {
    width: 100%;
}
.list-block h4 {
    font-size: 20px;
    margin: 10px 0;
}
.btn-list {
    border: 1px solid #ee6e2d;
    background-color: #ee6e2d;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
}
.btn-list:hover {
    background-color: #fff;
    color: #ee6e2d;
    cursor: pointer;
}
.list-block:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*=============== footer 1 ====================*/
.f1 {
    margin-top: 50px;
    background-color: rgb(255, 250, 243);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.f1 h1 {
    font-size: 50px;
    margin: 25px;
}
.f1 .contact {
    margin: 25px;
    font-weight: bold;
}
.f1 .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon .fa-brands {
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
}

/*=============== footer 2 ====================*/
.f2 {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f;
    color: #fff;
    font-size: small;
}
.f2 span {
    color: #888;
}

/*responsive*/
@media only screen and (max-width:785px) {
    .header-menu, header .right-menu {
        display: none;
    }
    /*menu btn*/
    .sidebar, #main {
        display: block;
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
    }
    .sidebar img, #main img {
        width: 20px;
    }
    .sidebar a {
        padding: 15px;
        font-size: 15px;
        color: #fff;
        transition: 0.3s;
    }
    .sidebar a:hover {
        background-color: #ee6e2d;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .openbtn img {
        width: 20px;
        margin-right: 10px;
    }
    .openbtn {
        background-color: #ee6e2d;
        border: 0;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.5s;
    }
    .openbtn:hover {
        background-color: #111;
    }

    /*menu btn*/

    .home .home-center {
        display: flex;
        flex-direction: column-reverse;
    }
    .home .home-right {
        width: 100%;
    }
    .home .home-left {
        width: 100%;
    }
    .home .home-left h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }
    .about .about-right {
        width: 100%;
    }
    .about .about-left {
        width: 100%;
    }
    .about .about-right h1 {
        font-size: 50px;
        margin: 25px 0;
    }
    
    .us-align {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
}