* {
    font-family: 'Cormorant Garamond', 'Cormorant', 'Antic Slab', serif;
    box-sizing: border-box;
    margin: 0;
}
.bod {
    margin-bottom: 30px;
    margin-left: 12%;
    margin-right: 12%;
}
h2 {
    text-transform: capitalize;
}
hr {
    border: 1px solid rgb(231, 231, 231);
}
/*nav*/
.space {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pad {
    padding: 15px;
}
/*dropdown nav*/
li {
    list-style-type: none;
}
.ns {
    position: relative;
    display: inline-block;
}
.nss:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}
.ns:hover .dn {
    display: block;
    float: left;
}
.dn {
    display: none;
    position: absolute;
    width: 350px;
    height: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    margin-left: -35px;
    z-index: 2;
    font-size: 20px;
}
.ln {
    margin-left: -35px;
    padding: 15px;
}
.ln:hover {
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: auto;
}
/*galery*/
.gal {
    max-width: 23%;
    height: auto;
    margin: 30px 1%;
    text-align: center;
    float: left;
}
.img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
}
.clearfix {
    content: "";
    clear: both;
    display: flex;
    flex-wrap: wrap;
}
/*pages*/
.pag {
    text-align: center;
}
.pag a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}
.pag a:hover {
    color: white;
    background-color: black;
}
.pag a.active {
    background-color: black;
    color: white;
}
.pag a.active:hover {
    color: black;
    background-color: grey;
}
/*about*/
.ac {
    text-align: center;
}
.ai {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
/*end page*/
.epf {
    float: left;
    width: 32%;
    height: auto;
    margin: 0.5%;
}
/*footer*/
a.fa {
    color: black;
}
/*tabl*/
.timg {
    width: 15%;
    height: auto;
    float: left;
    margin: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 20px 15px;
    font-size: 21px;
    background-color: rgb(237, 237, 237);
    width: 100%;
}
td {
    border-bottom: 1px solid #ddd;
}
td:hover {
    background-color: rgb(213, 213, 213);
    cursor: pointer;
}
tr:last-child > td {
    border-bottom: 0;
}
/*tag*/
.stag {
    background-color: rgb(185, 185, 185);
    padding: 2px 5px;
    color: white;
}
.small {
    line-height: 3.0;
}
.atag {
    background-color: black;
    padding: 3px 5px;
    color: white;
}