* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #180a3f;
}

div {
  position: relative;
  display: flex;
}

div span {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: aliceblue;
  border-radius: 50%;
  animation: animate 15s ease-in-out infinite;
  animation-duration: calc(125s / var(--i));
}

@keyframes animate {
  0% {
    
  }
}