@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}
a {
    text-decoration: none;
}

/*==================== menu ======================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8%;
}
header .logo {
    font-family: "Island Moments", sans-serif;
    font-size: 50px;
    color: #fff;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header ul li a {
    margin: 0 15px;
    color: #fff;
    text-transform: capitalize;
}

/*bna img*/
.bna_img {
    background: linear-gradient(rgba(0, 0, 0, 0.5),#6032d3), url("images/image-ban.jpg");
    background-size: cover;
    width: 100%;
    height: 750px;
}
/*bna img*/

/*==================== home =======================*/
#accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 200px;
}
#accueil h1 {
    font-size: 75px;
    font-family: "Kaushan Script", sans-serif;
    font-style: oblique;
    margin-bottom: 15px;
    color: #fff;
}
#accueil p {
    color: #fff;
    margin-bottom: 15px;
}
#accueil button {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 8px 30px;
    background-color: transparent;
    margin-top: 5px;
}
#accueil button a {
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
#accueil button a:hover {
    letter-spacing: 1px;
}

/*===================== a propos ======================*/
#propos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 8%;
    flex-direction: column;
}
#propos .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#propos .title h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #6032d3;
}
#propos .title p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 45px;
}
#propos .propos-left {
    width: 65%;
    margin-right: 50px;
}
#propos .propos-right {
    width: 30%;
}
#propos .propos-right img {
    width: 100%;
    height: 450px;
    border-radius: 30px;
    object-fit: cover;
}
#propos .propos-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.propos-left .propos-text{
    display: flex;
    margin-bottom: 25px;
}
.propos-left .services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.services .service-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.propos-left .services h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 15px;
}
.services .service-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 31%;
    padding: 25px 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: 0.5s;
}
.service-box i {
    border: 2px solid #6032d3;
    border-radius: 50%;
    color: #6032d3;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-box p {
    margin-top: 25px;
    text-transform: uppercase;
}
.service-box:hover {
    cursor: pointer;
    background-color: #6032d3;
    color: #fff;
}
.service-box:hover i {
    background-color: #fff;
}

/*================== destination ===================*/
#destination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 8%;
    flex-direction: column;
    margin-top: 200px;
}
#destination .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#destination .title h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #6032d3;
}
#destination .title p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 45px;
    text-transform: capitalize;
}
.img-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding:  0 22.5%;
}
.img-align .name img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.img-align .name {
    width: 49%;
    border-radius: 10PX;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    cursor: pointer;
}
.img-align .name:hover img {
    transform: scale(1.2);
}
.show-country {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.show-country p {
    font-weight: bold;
    font-size: 30px;
}
.img-align .name:hover .show-country {
    opacity: 1;
}

/*=================== contact =======================*/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 8%;
    flex-direction: column;
}
#contact .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact .title h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #6032d3;
}
#contact .title p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 45px;
    text-transform: capitalize;
}
.contact-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-left, .contact-center, .contact-right {
    width: 33%;
}
.contact-right img {
    width: 100%;
    border-radius: 25px;
    margin: 5%;
}
.contact-left form {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.contact-left {
    transition: 0.5s;
}
.contact-left form label {
    margin: 8px 0;
    font-weight: 500;
}
.contact-left form input, .contact-left form textarea {
    border: 2px solid #6032d3;
    border-radius: 5px;
    padding: 5px;
}
.contact-left form textarea {
    resize: none;
    margin-bottom: 20px;
}
.contact-btn {
    border: 1px solid #fff;
    padding: 5px;
    background-color: #6032d3;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-left:hover {
    background-color: #6032d3;
    color: #fff;
    border-radius: 10px;
}
.contact-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.contact-center i {
    margin: 20px 0;
    font-size: 23px;
    border: 2px solid #6032d3;
    color: #6032d3;
    padding: 15px;
    border-radius: 50px;
    transition: 0.5s;
}
.contact-center i:hover {
    background-color: #6032d3;
    color: #fff;
    cursor: pointer;
}

/*================ footer ==================*/
footer {
    width: 100%;
    padding: 10px;
    background-color: #6032d3;
    color: #fff;
    font-size: small;
    text-align: center;
}